<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target name="FileTarget" xsi:type="File" filename="./log/${appdomain:format={1\}}.log" archiveFileName="./log/backup/${appdomain:format={1\}}.{##}.log" archiveEvery="Day" archiveNumbering="DateAndSequence" archiveDateFormat="yyyyMMdd_HHmmss" maxArchiveFiles="21" layout="[${date:format=yyyy/MM/dd HH\:mm\:ss.fff}][${pad:padding=5:inner=${threadid}}][${pad:padding=5:inner=${level:uppercase=true}}]${event-context:item=logSource}[${logger}] ${message} ${exception:format=tostring}" encoding="UTF-8" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="FileTarget" />
  </rules>
</nlog>